*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
section{
    max-height: 100vh;
    position: relative !important;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRo45toV3xzBzv11kf2VAedHDvOp3fWJ7zDw&usqp=CAU);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a {
color: #fff;
text-decoration: none;
padding: 5px 20px;
font-family: poppins;
font-size: 16px;
text-transform: uppercase;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.logo{
    float: left;
}
.logo img{
    width: 100%;
    padding: 15px 0;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}
.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
.welcome-text a:hover{
    background: #fff;
    color: #333;
}

/*resposive*/

@media (max-width:600px){
    header,.wrapper,ul,h1,h2 {
width: 100%;
}
@media only screen and (max-width: 780px) {
    header,ul,h1,h2,a{
        width: 80%;
    }
  }
.logo {
float: none;
width: 50%;
text-align: center;
margin: auto;
}
img {
width: ;
}
.nav-area {
float: none;
margin-top: 0;
}
    .nav-area li a {
padding: 5px;
font-size: 11px;
}
.nav-area {
text-align: center;
}
    .welcome-text {
width: 100%;
height: auto;
margin: 30% 0;
}
    .welcome-text h1 {
font-size: 30px;
}
}
.welcome-text h2{
    color: #fff;
}
#new{
    margin-top: 5% !important;
    margin-left: 10% !important;
     position: absolute !important;
       width: 80% !important;
       height: 80% !important;
       background: rgba( 255, 255, 255, 0.00 );
       box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
       backdrop-filter: blur( 0.0px );
       -webkit-backdrop-filter: blur( 0.0px );
       border-radius: 10px;
       border: 1px solid rgba( 255, 255, 255, 0.18 );
       z-index: 1 !important;
}
#home-page{
    background-repeat: no-repeat !important;
   background-size: cover;
      width:100% !important;
     min-height:100vh !important;
     z-index: 0 !important;
    
}  